### Recap

In [1]:
pop = [30.55, 2.77, 39.21]
countries = ["afghanistan","albania","algeria"]
alb = countries.index('albania')
alb

1

In [2]:
pop[alb]

2.77

This way of extracting values is not adaptable because:
- Not convenient
- Not intutive

Solution is **Dictionaries**

## Dictionaries

In [3]:
world = {"afghanistan":30.55, "albania":2.77, "algeria":39.21}
world

{'afghanistan': 30.55, 'albania': 2.77, 'algeria': 39.21}

In [4]:
world['albania']

2.77

In [6]:
world = {"afghanistan":30.55, "albania":2.77, "algeria":39.21, "albania":4.67}
world

{'afghanistan': 30.55, 'albania': 4.67, 'algeria': 39.21}

In [7]:
{0:"hello", True:"dear", "two":"world"} # accept different type

{0: 'hello', True: 'dear', 'two': 'world'}

In [8]:
{["ali", 'Qasim', 'Hassan']:"Names"} #Keys have to be "immutable" objects ->> Error

TypeError: unhashable type: 'list'

In [9]:
{"Names": ["ali", 'Qasim', 'Hassan']}

{'Names': ['ali', 'Qasim', 'Hassan']}

In [10]:
world['Pakistan'] = 19.60  # adding values in dictionary

In [11]:
world

{'afghanistan': 30.55, 'albania': 4.67, 'algeria': 39.21, 'Pakistan': 19.6}

In [12]:
world['Pakistan'] = 19.80
world

{'afghanistan': 30.55, 'albania': 4.67, 'algeria': 39.21, 'Pakistan': 19.8}

In [13]:
"Pakistan" in world

True

In [14]:
del(world['afghanistan']) # will delete afghanistan and slide all prior

In [15]:
world

{'albania': 4.67, 'algeria': 39.21, 'Pakistan': 19.8}

## List vs Dictionary

<img src='./media/ListVSdictionary.png'>

<img src= './media/Pandas_logo.png' width=500px, height=300px>

## Pandas part1

- tabluar dataset of temperarue measurement at some company
<img src='./media/Tabular_dataset.png' width= 500px height=300px>

- population dataset of BRICS countries
<img src = './media/brickscountries.png' width=500px height=300px>

### Question: How can we store that data in python ? 
- Numpy Array (absolutely **NO** because in Numpy we save data of same type)
<img src ='./media/NumpyQuestion.png' width=400px height=300px>

### Answer:  Pandas
- high level  data manipulation
- Wes Mckinney
- built on Numpy
- Data Frame
- special concept of Series
<img src = './media/bricks.png'>

##### lets create this table...!!!

In [16]:
bricks = {"country": ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
         "capital": ['Brazilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
         "area": [8.516, 17.100, 3.286, 9.597, 1.221],
         "population": [200.40, 143.50, 1252.00, 1357.00, 52.98]}

NOTE:
   - key (columns, label)
   - values(data, column by column)

In [17]:
import pandas as pd

In [18]:
bricks_df = pd.DataFrame(bricks)
bricks_df

        country    capital    area  population
0        Brazil   Brazilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [19]:
bricks_df.index = ['BU', 'RU', 'IN', 'CH', 'SU']

In [20]:
bricks_df

         country    capital    area  population
BU        Brazil   Brazilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SU  South Africa   Pretoria   1.221       52.98

#### another way to create DATAFRAME is through csv (comma seperated files)

assume we have **'bricks.csv'** file in our directory

In [23]:
bricks_csv = pd.read_csv('./dataset/bricks.csv')
bricks_csv

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

In [24]:
bricks_csv = pd.read_csv('./dataset/bricks.csv', index_col=0)
bricks_csv

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

## Pandas part2

***index and select data***
- square brakets
- advance methods
    - loc
    - iloc

In [25]:
country = bricks_csv['country']
country

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [26]:
type(country) # here introduce another thing that is series

pandas.core.series.Series

**NOTE**: 1D label data is serires

In [27]:
country = bricks_csv[['country']]
country

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

In [28]:
type(country)

pandas.core.frame.DataFrame

In [29]:
bricks_csv[['country', 'capital']]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

#### row accessing through index

In [30]:
bricks_csv[0:2]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5

In [31]:
bricks_csv[1:4]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [32]:
bricks_csv[:4]

   country    capital    area  population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [33]:
bricks_csv[2:]

         country    capital   area  population
IN         India  New Delhi  3.286     1252.00
CH         China    Beijing  9.597     1357.00
SA  South Africa   Pretoria  1.221       52.98

In [34]:
bricks_csv[2:, :] # test numpy access method for sepcifiec rows and columns ->> Error

TypeError: '(slice(2, None, None), slice(None, None, None))' is an invalid key

### Question What if we want specific columns and rows ?

###### Key points about [ ] square brakets

- square bralets have limited functionality
- ideally 
    - Remember **2D Numpy array** in numpy
    - ``my_arr[row, col]``
- pandas
    - ``loc``(label based)
    - ``iloc`` (index based)

In [36]:
bricks_csv

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [37]:
bricks_csv.loc['RU'] #rows as pandas series

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [38]:
print(type(bricks_csv.loc['RU'])) # loc also giive us series and DataFrame with same way

<class 'pandas.core.series.Series'>

In [39]:
print(type(bricks_csv.loc[['RU']])) # loc also giive us series and DataFrame with same way

<class 'pandas.core.frame.DataFrame'>

In [40]:
bricks_csv.loc[['RU']]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [41]:
bricks_csv.loc[['RU','CH']] # specific rows

   country  capital    area  population
RU  Russia   Moscow  17.100       143.5
CH   China  Beijing   9.597      1357.0

In [42]:
bricks_csv.loc[['RU','CH'], ['country', 'population']] # specific rows and columns

   country  population
RU  Russia       143.5
CH   China      1357.0

In [43]:
bricks_csv.loc['RU':'CH']

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [49]:
bricks_csv.loc['RU':'CH', 'country']

RU    Russia
IN     India
CH     China
Name: country, dtype: object

In [50]:
bricks_csv.loc['RU':'CH', 'country']

   country    area
RU  Russia  17.100
IN   India   3.286
CH   China   9.597

In [46]:
bricks_csv.loc['RU':'CH', ['country']]

   country
RU  Russia
IN   India
CH   China

In [47]:
bricks_csv.loc['RU':'CH', 'country': 'area']

   country    capital    area
RU  Russia     Moscow  17.100
IN   India  New Delhi   3.286
CH   China    Beijing   9.597

In [51]:
bricks_csv.loc[:, ['country', 'population']]  # all rows with specific column

         country  population
BR        Brazil      200.40
RU        Russia      143.50
IN         India     1252.00
CH         China     1357.00
SA  South Africa       52.98

### QUICK Recap

- Square brakets

    - column access --> ``bricks.csv[['country', 'capital']]``
    - row access (only through slicing) --> ``bricks_csv[1:4]``
    
- loc(label-based) remeber ``arr[rows, columns]``

    - row access --> ``bricks_csv.loc[['BR', 'IN']]``
    - columns access --> ``bricks_csv.loc[:['country', 'capital']]``
    - both rows and columns --> <br>
    ``bricks_csv.loc[['BR', 'IN'], ['country', 'capital']]``

### row access with iloc

In [54]:
bricks_csv

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [55]:
bricks_csv.iloc[[1]]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [56]:
bricks_csv.iloc[[1,3,4]]

         country   capital    area  population
RU        Russia    Moscow  17.100      143.50
CH         China   Beijing   9.597     1357.00
SA  South Africa  Pretoria   1.221       52.98

In [57]:
bricks_csv.iloc[[1,3,4],[0,3]]

         country  population
RU        Russia      143.50
CH         China     1357.00
SA  South Africa       52.98

In [58]:
bricks_csv.iloc[:,[0,3]]

         country  population
BR        Brazil      200.40
RU        Russia      143.50
IN         India     1252.00
CH         China     1357.00
SA  South Africa       52.98

In [60]:
#bricks_csv.iloc[[1,3,4]]
bricks_csv.iloc[[1,3,4], 1:3]

     capital    area
RU    Moscow  17.100
CH   Beijing   9.597
SA  Pretoria   1.221

#### Thank you :)

## Practice [ Self Assisment ]

### Dictionary part1.

In [ ]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# Get index of 'germany': ind_ger
ind_ger = countries.index('germany')

# Use ind_ger to print out capital of Germany
print(capitals[ind_ger])

In [ ]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# From string in countries and capitals, create dictionary europe
europe = { 'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print europe
print(europe)

In [ ]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe
print(europe.keys())

# Print out value that belongs to key 'norway'
print(europe['norway'])

### Dictionary part2.

In [ ]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Add italy to europe
europe['italy'] = 'rome'

# Print out italy in europe
print('italy' in europe)

# Add poland to europe
europe['poland'] = 'warsaw'

# Print europe
print(europe)

In [ ]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
          'australia':'vienna' }

# Update capital of germany
europe['germany'] =  'berlin'

# Remove australia
del(europe['australia'])

# Print europe
print(europe)

In [ ]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Print out the capital of France
print(europe['france']['capital'])

# Create sub-dictionary data
data = {'capital':'rome', 'population':59.83}

# Add data to europe under key 'italy'
europe['italy'] =  data


# Print europe
print(europe)

### Pandas part1: Dictionaries to Pandas

In [ ]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'country' : names,
           'drives_right': dr,
           'cars_per_cap': cpc}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
cars

In [ ]:
import pandas as pd

# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
cars_dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(cars_dict)
print(cars)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars again
cars

### CSV to DataFrame

In [ ]:
# Import pandas as pd
import pandas as pd

# Import the cars.csv data: cars
cars = pd.read_csv('./cars.csv')

# Print out cars
print(cars)
cars

In [ ]:
# Import pandas as pd
import pandas as pd

# Fix import by including index_col
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out cars
cars

### Pandas, Part 2

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out country column as Pandas Series
print(cars['country'])
print()

# Print out country column as Pandas DataFrame
print(cars[['country']])
print()

# Print out DataFrame with country and drives_right columns
print(cars[['country', 'drives_right']])

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out first 3 observations
print(cars[:3])
print()

# Print out fourth, fifth and sixth observation
print(cars[3:6])

### loc[] and iloc[]

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out observation for Japan
print(cars.loc['JPN'])
print()

# Print out observations for Australia and Egypt
print(cars.loc[['AUS', 'EG']])

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out drives_right value of Morocco
print(cars.loc['MOR'])
print()

# Print sub-DataFrame
print(cars.loc[['RU', 'MOR'], ['country', 'drives_right']])

In [ ]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out drives_right column as Series
print(cars.loc[:,'drives_right'])
print()

# Print out drives_right column as DataFrame
print(cars.loc[:,['drives_right']])
print()

# Print out cars_per_cap and drives_right as DataFrame
print(cars.loc[:, ['cars_per_cap', 'drives_right']])