### Recap
- countries
- populations

In [1]:
pop = [30.55, 2.77, 39.21]
countries = ["afghanistan","albania","algeria"]
alb = countries.index('albania')
alb

1

In [2]:
pop[alb]

2.77

This way of extracting values is not adaptable because:
- Not convenient
- Not intutive

Solution is **Dictionaries**

## Dictionaries
- Accept different type
- Keys have to be "immutable" objects ->> Error
- add values
- edit value
- **in** Keyword
- delete any element

In [3]:
world = {"afghanistan":30.55, "albania":2.77, "algeria":39.21}
world

{'afghanistan': 30.55, 'albania': 2.77, 'algeria': 39.21}

In [4]:
world['albania']

2.77

In [5]:
world = {"afghanistan":30.55, "albania":2.77, "algeria":39.21, "albania":4.67}
world

{'afghanistan': 30.55, 'albania': 4.67, 'algeria': 39.21}

In [6]:
{0:"hello", True:"dear", "two":"world"} # accept different type

{0: 'hello', True: 'dear', 'two': 'world'}

In [7]:
{["Muhaammad", 'Muzammil', 'Sohail']:"Names"} #Keys have to be "immutable" objects ->> Error

TypeError: unhashable type: 'list'

In [ ]:
{"Names": ["Muhammad", 'Muzammil', 'Sohail']}

In [ ]:
world['Pakistan'] = 19.60  # adding values in dictionary

In [ ]:
world

In [ ]:
world['Pakistan'] = 19.80
world

In [ ]:
"Pakistan" in world

In [8]:
del(world['afghanistan']) # will delete afghanistan and slide all prior

In [9]:
world

{'albania': 4.67, 'algeria': 39.21}

## List vs Dictionaries

## Introudction to Pandas
- ##### Question: How can we store that data in python ? 
- Numpy Array (absolutely **NO** because in Numpy we save data of same type)

### Answer:  Pandas 
- high level  data manipulation
- Wes Mckinney
- built on Numpy
- Data Frame
- special concept of Series

## Case Study: population dataset of BRICS countries
- NOTE:
   - key (columns, label)
   - values(data, column by column)

In [10]:
import pandas as pd

### CREATING DATAFRAME

In [11]:
bricks = {"country": ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
         "capital": ['Brazilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
         "area": [8.516, 17.100, 3.286, 9.597, 1.221],
         "population": [200.40, 143.50, 1252.00, 1357.00, 52.98]}

In [12]:
bricks_df = pd.DataFrame(bricks)

In [13]:
bricks_df

        country    capital    area  population
0        Brazil   Brazilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

change index values `df.index = []`

In [14]:
bricks_df.index = ['BR','RU', 'IN', 'CH','SU']
bricks_df

         country    capital    area  population
BR        Brazil   Brazilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SU  South Africa   Pretoria   1.221       52.98

#### another way to create DATAFRAME is through csv (comma seperated files)

assume we have **'bricks.csv'** file in our directory

In [15]:
bricks_csv = pd.read_csv('./dataset/bricks.csv')
bricks_csv

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

In [16]:
bricks_csv = pd.read_csv('./dataset/bricks.csv', index_col=0)
bricks_csv

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

### index and select data
- square brakets (type--> series) & double squrae brakets (type --> DataFrame)
- advance methods
    - loc
    - iloc

In [18]:
country = bricks_csv['country']
country

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [21]:
type(country)# here introduce another thing that is series

pandas.core.series.Series

In [22]:
country = bricks_csv[['country']]
country

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

In [23]:
type(country)

pandas.core.frame.DataFrame

In [24]:
bricks_csv[['area','population']]

      area  population
BR   8.516      200.40
RU  17.100      143.50
IN   3.286     1252.00
CH   9.597     1357.00
SA   1.221       52.98

In [26]:
bricks_csv[:4][['area','population']] # start from 0 end on 3

      area  population
BR   8.516       200.4
RU  17.100       143.5
IN   3.286      1252.0
CH   9.597      1357.0

In [27]:
bricks_csv[:4]

   country    capital    area  population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [28]:
bricks_csv[2:]

         country    capital   area  population
IN         India  New Delhi  3.286     1252.00
CH         China    Beijing  9.597     1357.00
SA  South Africa   Pretoria  1.221       52.98

In [29]:
bricks_csv[2:, :] # test numpy access method for sepcifiec rows and columns ->> Error

InvalidIndexError: (slice(2, None, None), slice(None, None, None))

### Question What if we want specific columns and rows ?
###### Key points about [ ] square brakets

- square bralets have limited functionality
- ideally 
    - Remember **2D Numpy array** in numpy
    - ``my_arr[row, col]``
- pandas
    - ``loc``(label based)
    - ``iloc`` (index based)

In [30]:
bricks_csv

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [33]:
bricks_csv.loc['RU']# rows as pandas series `[]` & dataframe `[[]]`

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [34]:
print(type(bricks_csv.loc['RU'])) # loc also giive us series and DataFrame with same way

<class 'pandas.core.series.Series'>

In [35]:
print(type(bricks_csv.loc[['RU']])) # loc also giive us series and DataFrame with same way

<class 'pandas.core.frame.DataFrame'>

In [36]:
bricks_csv.loc[['RU']]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [37]:
bricks_csv.loc[['RU','SA']] # specific rows more than one

         country   capital    area  population
RU        Russia    Moscow  17.100      143.50
SA  South Africa  Pretoria   1.221       52.98

In [39]:
bricks_csv.loc[['IN']]

   country    capital   area  population
IN   India  New Delhi  3.286      1252.0

In [40]:
bricks_csv.loc[['RU','CH'], ['country', 'population']] # specific rows and columns

   country  population
RU  Russia       143.5
CH   China      1357.0

In [41]:
bricks_csv.loc['RU':'CH']# try slicing with it

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [42]:
bricks_csv.loc['RU':'CH', 'country']

RU    Russia
IN     India
CH     China
Name: country, dtype: object

#### Quick Recap

- Square brakets

    - column access --> ``bricks.csv[['country', 'capital']]``
    - row access (only through slicing) --> ``bricks_csv[1:4]``
    
- loc(label-based) remeber ``arr[rows, columns]``

    - row access --> ``bricks_csv.loc[['BR', 'IN']]``
    - columns access --> ``bricks_csv.loc[:['country', 'capital']]``
    - both rows and columns --> <br>
    ``bricks_csv.loc[['BR', 'IN'], ['country', 'capital']]``

### Accessing values with iloc[]

In [2]:
import pandas as pd

In [4]:
bricks_csv = pd.read_csv('./dataset/bricks.csv', index_col=0)
bricks_csv

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [5]:
bricks_csv.iloc[[1]]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [6]:
bricks_csv.iloc[[1,3,4]]

         country   capital    area  population
RU        Russia    Moscow  17.100      143.50
CH         China   Beijing   9.597     1357.00
SA  South Africa  Pretoria   1.221       52.98

In [7]:
bricks_csv.iloc[[1,3,4],[0,3]]

         country  population
RU        Russia      143.50
CH         China     1357.00
SA  South Africa       52.98

In [8]:
bricks_csv.iloc[:,[0,3]]

         country  population
BR        Brazil      200.40
RU        Russia      143.50
IN         India     1252.00
CH         China     1357.00
SA  South Africa       52.98

In [9]:
bricks_csv.iloc[[1,3,4]]
bricks_csv.iloc[[1,3,4], 1:3]

     capital    area
RU    Moscow  17.100
CH   Beijing   9.597
SA  Pretoria   1.221

# Practice [ Self Assisment ]
Dictionary part1.

In [12]:
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# Get index of 'germany': ind_ger
ind_ger = countries.index('germany')

# Use ind_ger to print out capital of Germany
capitals[ind_ger]

'berlin'

In [14]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print out the keys in europe
europe.keys()

dict_keys(['spain', 'france', 'germany', 'norway'])

In [15]:
# Print out value that belongs to key 'norway'
europe['norway']

'oslo'

In [16]:
# Add italy to europe
europe['italy'] = 'rome'

# Print out italy in europe
print('italy' in europe)

True

In [17]:
# Add poland to europe
europe['poland'] = 'warsaw'

# Print europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

In [19]:
# Update capital of germany
europe['germany'] =  'berlin'

# Remove australia
del(europe['france'])

# Print europe
print(europe)

{'spain': 'madrid', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

In [20]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }

In [23]:
# Print out the capital of France
europe['france']['capital']

'paris'

In [24]:
# Create sub-dictionary data
data = {'capital':'rome', 'population':59.83}

# Add data to europe under key 'italy'
europe['italy'] =  data

print(europe)

{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}

# Pandas part1: Dictionaries to Pandas

In [25]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

In [26]:
# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'country' : names,
           'drives_right': dr,
           'cars_per_cap': cpc}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
cars

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [27]:
# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars again
cars

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

# CSV to DataFrame

In [29]:
# Import the cars.csv data: cars
cars = pd.read_csv('./dataset/cars.csv')

# Print out cars
cars

  Unnamed: 0  cars_per_cap        country  drives_right
0         US           809  United States          True
1        AUS           731      Australia         False
2        JPN           588          Japan         False
3         IN            18          India         False
4         RU           200         Russia          True
5        MOR            70        Morocco          True
6         EG            45          Egypt          True

In [32]:
cars = pd.read_csv('./dataset/cars.csv', index_col = 0)
cars

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JPN           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [33]:
# Print out country column as Pandas Series
print(cars['country'])

US     United States
AUS        Australia
JPN            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object

In [34]:
# Print out country column as Pandas DataFrame
print(cars[['country']])
print()

           country
US   United States
AUS      Australia
JPN          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt

In [35]:
# Print out DataFrame with country and drives_right columns
print(cars[['country', 'drives_right']])

           country  drives_right
US   United States          True
AUS      Australia         False
JPN          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [36]:
# Print out first 3 observations
print(cars[:3])

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JPN           588          Japan         False

In [37]:
# Print out fourth, fifth and sixth observation
print(cars[3:6])

     cars_per_cap  country  drives_right
IN             18    India         False
RU            200   Russia          True
MOR            70  Morocco          True

# loc[] and iloc[]

In [38]:
# Print out observation for Japan
print(cars.loc['JPN'])

cars_per_cap      588
country         Japan
drives_right    False
Name: JPN, dtype: object

In [39]:
# Print out observations for Australia and Egypt
print(cars.loc[['AUS', 'EG']])

     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

In [40]:
print(cars.loc[['RU', 'MOR'], ['country', 'drives_right']])

     country  drives_right
RU    Russia          True
MOR  Morocco          True

In [41]:
# Print out drives_right column as Series
print(cars.loc[:,'drives_right'])

US      True
AUS    False
JPN    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

In [42]:
# Print out drives_right column as DataFrame
print(cars.loc[:,['drives_right']])

     drives_right
US           True
AUS         False
JPN         False
IN          False
RU           True
MOR          True
EG           True

In [43]:
# Print out cars_per_cap and drives_right as DataFrame
print(cars.loc[:, ['cars_per_cap', 'drives_right']])

     cars_per_cap  drives_right
US            809          True
AUS           731         False
JPN           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True